@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Poppins:wght@500&display=swap');
body {
    font-family: Poppins; 
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #3498db;
    color: white;
    padding: 20px;
    margin: 0;
}

.input {
    padding: 10px;
    margin: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    background-color: #eeeded;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.button:hover {
    background-color: #2980b9;
}

.list {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 300px;
    position: relative;
    border-radius: 30px;
}

h2 {
    background-color: #3498db;
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px
}
/* CSS styles for the buttons */
.add-button {
    background-color:#3498db; /* Green background */
    color: white; /* White text color */
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.remove-button {
    background-color: #f44336; /* Red background */
    color: white; /* White text color */
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 15px;
}


.list-item {
    margin-bottom: 10px;
    border-radius: 30px;
}

.list-item input[type="checkbox"] {
    margin-right: 10px;
    border-radius: 30px;
    
}

.remove-item-button {
    background-color: #f44336; /* Red background */
    color: white; /* White text color */
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 60px;
}
.add-item-input {
    width: 70%; /* Adjust the width as needed */
    padding: 5px;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
    font-size: 16px; /* Adjust the font size as needed */
    background-color: #eeeded;
}
/* Style for the unchecked checkbox */
.checkbox-style {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 15px;
    background-color: #3498db;
    border-radius: 30px;
}

/* Style for the checked checkbox */
.checkbox-style:checked {
    background-color: #00cc00; /* Green background for checked checkboxes */
    border-radius: 2px;
}
